@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: url("./full/Lato-100.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("./full/Lato-300.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./full/Lato-400.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("./full/Lato-700.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("./full/Lato-900.woff") format("woff");
}
