/* Fonts */
@import url(../fonts/lato/lato.css);
@import url(../fonts/heebo/heebo.css);

/* Variables */
:root {
  --ff-heading: "Lato", sans-serif;
  --ff-body: "Heebo", sans-serif;
  --color-body: #758994;
  --color-brand: #0b2b43;
  --color-accent: #7fc6a4;
  --transition-s: 0.2s all ease;
  --transition: 0.4s all ease;
}

/* Reset */
body {
  font-family: var(--ff-body);
  color: var(--color-body);
  background-color: white;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
}

/* Utility */
.bg-brand {
  background-color: var(--color-brand);
}

.bg-accent {
  background-color: var(--color-accent);
}

.sectionPadding {
  padding: 5rem 0;
}

/* BTN */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 0.5rem;
  font-family: var(--ff-heading);
  font-weight: bold;
  height: 3rem;
  max-height: 3rem;
  padding: 0 1.5rem;
  border-radius: 0px;
  transition: var(--transition);
}

.btn-brand {
  color: white;
  background-color: var(--color-brand);
  border: 1px solid var(--color-brand);
}

.btn-brand:hover {
  color: var(--color-brand);
  background-color: white;
  border: 1px solid var(--color-brand);
}

/* Navbar */
.navbar-brand img {
  height: 3rem;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  max-height: 3rem;
  font-weight: bold;
  font-family: var(--ff-heading);
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  text-transform: capitalize;
  color: var(--color-brand);
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--color-accent);
}

.navbarTop {
  color: white;
  font-size: 0.875rem;
}

@media (max-width: 991.98px) {
  .navbar .btn {
    width: 100%;
  }
  .nav-link {
    justify-content: start;
    padding-left: 0 !important;
    padding-right: 1rem !important;
    transition: var(--transition-s);
  }

  .nav-link:hover {
    color: white;
    background-color: var(--color-accent);
    padding-left: 1rem !important;
  }
}

/* Hero */
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
    url(../images/hero-slider-1.webp) no-repeat center;
  background-size: cover;
}
